[Unit]
Description=RaspDeck daemon
After=graphical-session.target

[Service]
ExecStart=%h/.local/bin/raspdeck-daemon
Restart=on-failure

[Install]
WantedBy=default.target
